* {
  border: none;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  color: #ffffff;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

.modules {
  background-color: #FFFCF9;
  padding-left: 8pt;
  padding-right: 8pt;
}

#custom-round-left{
  border-right: none; 
  border-left: 3px solid #007382;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;     
}
/*-----module groups----*/
/* .modules-right {
  background-color: #FFFCF9;
  padding-left: 8pt;
  padding-right: 8pt;
}

.modules-center {
background-color: #FFFCF9;
  margin: 2px 0 0 0;
}

.modules-left {
  margin: 2px 0 0 5px;
background-color: rgba(0,119,179,0.6);
} */

/*-----modules indv----*/
#workspaces button {
  padding: 1px 5px;
  background-color: transparent;
}
#workspaces button:hover {
  box-shadow: inherit;
background-color: rgba(0,153,153,1);
}

#workspaces button.focused {
background-color: rgba(0,43,51,0.85);
}
